body{
    background-color: lightgray;
}

.titulo{
    border: 2px solid indigo;
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
    background-color: bisque;
    color: darkgreen;
}

.subtitulo{
    border: 2px;
    display: flex;
    justify-content: space-around;
    background-color: lightskyblue;
    color: darkred;
}

h2{
    display: flex;
    justify-content: center;

}

.AAAA{
    font-family: sans-serif;
    font-size: 20px;
    color: indigo; 
    margin: 10px;
    text-align: justify;

}

.BBBB{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;

}

.CCCC{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;

}

.DDDD{
    display: flex;
    justify-content: center;
}

.EEEE{
    display: inline-block;
    justify-content: center;
    background-color: yellow;
}